body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: #2948ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width:300px;
    height: 300px;
    background-color: #73ff00;
    border-radius: 50%;
    border: 8px solid #000;
    box-shadow: 2px 2px 8px 2px rgba(22,45,75,0.92);
    background-image: url('img/face.png');
    background-size: cover;
    position: relative;
}

.clock:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.hand {
    /*width: 10px;*/
    /*height: 30%;*/
    /*background-color: #000;*/
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: bottom;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.hour {
    width: 8px;
    height: 28%;
    background-color: #000;
}

.minute {
    width: 5px;
    height: 38%;
    background-color: #000;
}

.second {
    width: 3px;
    height: 40%;
    background-color: #ff0000;
}