* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 15px;
}

.ev-container {
    margin-top: 60px;
    margin-left: 300px;
    width: 650px;
    height: 400px;
    background-color: #fff;
    padding: 100px 0 0 200px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #fd7e14;
}

.ev-item li {
    line-height: 1.9rem;
}
.ev-item h3 {
    display: inline-block;
}